.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
bin/
.vscode/
run/
runs/
src/generated/
.DS_Store
Thumbs.db
desktop.ini
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
AFalseMemory/*